@import "tailwindcss";

:root {
  --color-bg: #f0f0f0;
  --color-text: #110e11;
  --color-primary: #a00f99;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #110e11;
    --color-text: #f0f0f0;
    --color-primary: #ce1cc5;
  }
}

body.theme-light {
  --color-bg: #f0f0f0 !important;
  --color-text: #110e11 !important;
  --color-primary: #a00f99 !important;
}
body.theme-dark {
  --color-bg: #110e11 !important;
  --color-text: #f0f0f0 !important;
    --color-primary: #ce1cc5 !important;
}

section h2 {
  position: relative;
  color: color-mix(in oklab, var(--color-text) 90%, transparent);
  text-align: center;
  font-size: 36px;
  font-weight: 800;
}
section h2::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 300px;
  background-color: var(--color-primary);
}

section h3 {
  color: color-mix(in oklab, var(--color-text) 70%, transparent);
  text-align: left;
  font-size: 32px;
  font-weight: 500;
}

p {
  letter-spacing: 0px;
}
p strong {
  color: var(--color-text);
  color: color-mix(in oklab, var(--color-text) 85%, transparent);
}
p a {
  color: var(--color-primary);
  text-decoration: underline;
}
p a:hover {
  color: var(--color-text);
  color: color-mix(in oklab, var(--color-primary) 75%, transparent);
  text-decoration: none;
}