<section id="about" class="scroll-mt-25">
    <div id="animated" class="transition-all opacity-0">
        <h2><span>¿</span> Quiénes Somos <span>?</span></h2>
        <p class="text-left mx-8 my-10 sm:mx-0 sm:px-[15%] lg:px-[22%]
            text-[var(--color-text)]/75 text-2xl font-light">
            Somos una empresa que ofrece servicios de <strong id="strong-primary">desarrollo</strong> y <strong id="strong-primary">diseño web</strong> 
            a <strong>cualquier modelo de negocio</strong>.
            <br/><br/>
            Nuestro trabajo está orientado a la implementación y divulgación del suyo en el <strong id="strong-primary">
            medio digital</strong>. No nos encargamos solamente de publicar un menú o un texto informativo, sino que <strong>enfocamos 
            nuestra labor en elevar la competencia</strong> de su marca por todos los medios disponibles.
            <br/><br/>
            La <strong>competencia</strong> en el <strong id="strong-primary">entorno digital</strong> puede potenciarse de 
            muchas maneras, su objetivo es ganar la mayor cantidad de visitas de usuarios posicionándose lo más alto posible 
            en los navegadores. <strong>Si desea saber más</strong> acerca de como manejamos este proceso puede encontrar 
            más información en nuestro 
            <a href="../pages/blog.astro">blog</a>.
        </p>
    </div>
</section>

<script is:inline>
  const div = document.getElementById('animated');
  const observer = new IntersectionObserver(([entry]) => {
    if (entry.isIntersecting) {
        div.classList.remove('opacity-0');
        div.classList.add('fade-animation');
        observer.disconnect();
    }
  }, { threshold: 0.1 });
  observer.observe(div);
</script>

<style>
    h2 > span {
        display: inline-block;
        transition: transform 0.3s cubic-bezier(.4,0,.2,1);
    }
    h2:hover > span:first-of-type {
        transform: rotate(-30deg) translateX(-4px);
    }
    h2:hover > span:last-of-type {
        transform: rotate(30deg) translateX(4px);
    }

    .fade-animation {
        animation: fade-out-up 800ms ease-in-out;
    }    
    
    span {
        color: var(--color-primary);
    }
</style>