---
import { getCollection } from "astro:content";
import SiteInfo from "../components/SiteInfo.astro";
import ArrowDownIcon from "../components/icons/ArrowDown.astro";
import Expandible from "../components/Expandible.jsx";

const infoSitios = await getCollection("infoSitios")
---

<section class="scroll-mt-25">
    <h2><span>¿</span> Qué tipo de sitios podemos crear <span>?</span></h2>
    <p class="text-left mx-8 mt-10 mb-5 sm:mx-0 sm:px-[15%] lg:px-[22%]
        text-[var(--color-text)]/75 text-2xl font-light">
        Nos adaptamos a cualquier propósito del cliente, desde <strong>deliverys</strong>, 
        <strong>cafeterías</strong> y <strong>restaurantes</strong> hasta sitios más personales como 
        <strong>currículums digitales</strong>.
    </p>
    <a id="link-btn" href="/src/pages/services.astro">
        Ver todos los servicios
    </a>

    <Expandible client:visible>
        <div id="services-container" class="flex flex-col gap-6">
        {
            infoSitios.map((info) => {
                return <SiteInfo info={info} />
            })
        }
    </div>
    </Expandible>
</section>

<style>
    h2 > span {
        display: inline-block;
        transition: transform 0.3s cubic-bezier(.4,0,.2,1);
    }
    h2:hover > span:first-of-type {
        transform: rotate(-30deg) translateX(-4px);
    }
    h2:hover > span:last-of-type {
        transform: rotate(30deg) translateX(4px);
    }

    span {
        color: var(--color-primary);
    }

    @media (min-width: 867px) {
        h3 {
            flex-direction: row;
        }
        h3 button {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            box-shadow: 0 0 8px #00000033;
            border: 1px solid color-mix(in oklab, var(--color-text) 6%, transparent);
            background: radial-gradient(transparent, color-mix(in oklab, var(--color-text) 1%, transparent));
        }
        h3 button:hover {
            border: 1px solid color-mix(in oklab, var(--color-text) 10%, transparent);
            background: radial-gradient(transparent, color-mix(in oklab, var(--color-text) 2%, transparent));
        }
        
        h3 button::after {
            display: none;
        }
        h3 button::before {
            display: none;
        }
    }
</style>